@charset "UTF-8";
/* 1024 이상 PC */
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
@import url("https://unpkg.com/pretendard@1.3.9/dist/web/static/pretendard-dynamic-subset.css");
@media all and (min-width: 1024px) {
  .hover-underline-animation .hover-item {
    display: inline;
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(to right, black 50%, transparent 50%);
    /* 왼쪽에서 검은색, 오른쪽으로 투명 */
    background-size: 210% 1px;
    /* 너비를 200%로 설정해 왼쪽에서 시작할 수 있도록 함 */
    background-position: 100% 100%;
    /* 초기 위치를 오른쪽 끝으로 설정하여 밑줄이 보이지 않게 함 */
    background-repeat: repeat-x;
    transition: background-position 0.3s ease-in-out;
  }
  .hover-underline-animation .hover-item.white-type {
    background-image: linear-gradient(to right, #fff 50%, transparent 50%);
  }
  .hover-underline-animation:hover .hover-item {
    background-position: 0 100%;
    /* 호버 시 왼쪽 끝에서 시작하도록 설정 */
  }
  .hover-underline-animation .flex-hover {
    display: flex;
  }
}
/* basic-reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.c-scrollbar {
  z-index: 1000;
}

html::-webkit-scrollbar {
  display: none;
  scroll-behavior: initial;
}

html,
body {
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라 구버전 */
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Nanum Myeongjo", "Roboto", Arial, Dotum, serif, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-text-size-adjust: none;
  font-weight: 500;
  line-height: 130%;
  font-size: 14px;
  word-break: keep-all;
  word-wrap: break-word;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

fieldset,
img {
  border: 0 none;
  vertical-align: middle;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

em {
  font-style: normal;
}

b,
strong {
  font-weight: 700;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
  font-size: 100%;
}

input,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border-radius: 0;
  font-size: 100%;
  outline: none;
}

button {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
}

button[disabled],
input[disabled] {
  cursor: default;
}

caption {
  display: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.img-holder span,
.img-holder a {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}
.img-holder span::after,
.img-holder a::after {
  content: "";
  display: block;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.img-holder span img,
.img-holder a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-holder.no-dim span::after,
.img-holder.no-dim a::after {
  display: none;
}
.img-holder.img-holder-scroll img {
  will-change: auto;
  width: 130%;
  height: 130%;
}

.hdc-frame {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #222;
}
.hdc-frame .mobile-frame {
  width: 413px;
  height: 844px;
  background: url(../images/mobile-frame.png) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.hdc-frame .mobile-frame iframe {
  left: 50%;
  top: 14px;
  position: absolute;
  transform: translateX(-50%);
  border-radius: 52px;
  background: #fff;
}

@media only screen and (max-width: 600px) {
  .hdc-frame {
    display: block;
  }
  .hdc-frame .mobile-frame {
    background: none;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .hdc-frame .mobile-frame iframe {
    border-radius: 0;
    width: 100% !important;
    height: 100% !important;
    left: 0;
    top: 0;
    transform: translate(0);
  }
}
.box-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f2f6fa;
}
.box-header.b-type {
  background-color: transparent;
}

.con {
  padding: 111px 0 93px 0;
}
.con.b-type {
  padding: 0 0 10px 0;
}

.box-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.wrap.mo {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.box-intro section {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 92px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s opacity;
  will-change: opacity;
}
.box-intro section.is-active {
  opacity: 1;
}
.box-intro section.is-active .text-1.b-type > span > span {
  width: 45px;
}
.box-intro section.is-active .text-1.b-type > span::after {
  opacity: 1;
  bottom: 7px;
}
.box-intro section .text-1 {
  color: var(--Primary-4, #000);
  text-align: center;
  font-family: "Spoqa Han Sans Neo";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 26px */
  letter-spacing: -0.6px;
  position: absolute;
  top: 525px;
  left: 0;
  right: 0;
}
.box-intro section .text-1.posi {
  position: relative;
  top: auto;
  left: auto;
  right: auto;
}
.box-intro section .text-1.b-type {
  color: var(--Primary-4, #000);
  text-align: center;
  /* APP/Title/Title */
  font-family: "Spoqa Han Sans Neo";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 31.2px */
  letter-spacing: -0.72px;
}
.box-intro section .text-1.b-type > span {
  position: relative;
}
.box-intro section .text-1.b-type > span > span {
  width: 0;
  height: 25px;
  overflow: hidden;
  display: inline-block;
  position: relative;
  transition: width 0.4s;
  transition-delay: 0.4s;
}
.box-intro section .text-1.b-type > span > span strong {
  position: absolute;
  top: 0;
  left: 0;
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  color: var(--Primary-4, #000);
  /* APP/Title/Title */
  font-family: "Spoqa Han Sans Neo";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.72px;
}
.box-intro section .text-1.b-type > span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #e83c25;
  position: absolute;
  bottom: -10px;
  opacity: 0;
  transition: 0.4s bottom, 0.4s opacity;
  transition-delay: 1.5s, 1.5s;
  right: -15px;
  border-radius: 999px;
}
.box-intro section .text-1.b-type-2 {
  color: var(--Primary-4, #000);
  text-align: center;
  /* APP/Title/Title */
  font-family: "Spoqa Han Sans Neo";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 130%; /* 31.2px */
  letter-spacing: -0.72px;
}
.box-intro section .text-1.b-type-2 > span {
  position: relative;
}
.box-intro section .text-1.b-type-2 > span > span {
  position: relative;
}
.box-intro section .text-1.b-type-2 > span > span strong {
  /* APP/Title/Title */
  font-family: "Spoqa Han Sans Neo";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -0.72px;
}
.box-intro section .text-1.b-type-2 > span::after {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #e83c25;
  position: absolute;
  bottom: 7px;
  right: -12px;
  border-radius: 999px;
}
.box-intro section .lottie {
  transform: translateY(-128px);
  padding: 0 66px;
}
.box-intro section .lottie#lottie-container-2 {
  transform: translateY(-99px);
  padding: 0 48px;
}
.box-intro section .lottie#lottie-container-2.b-type {
  padding: 0 23px;
}
.box-intro section .lottie#lottie-container-3 {
  transform: translateY(-99px);
  padding: 0 5px;
}
.box-intro section .lottie#lottie-container-4 {
  transform: translateY(-97px);
  padding: 0;
  margin: 0 -89px;
}
.box-intro section .lottie#lottie-container-4.b-type {
  padding: 0 68px;
  margin: 0;
}
.box-intro section .lottie#lottie-container-5 {
  transform: translateY(-99px);
  padding: 0 48px;
}
.box-intro section .skip {
  position: absolute;
  top: 40px;
  right: 19px;
  z-index: 30;
  color: var(--Font-light, #999);
  text-align: center;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 14px */
  letter-spacing: -0.42px;
}
.box-intro .section-3 {
  pointer-events: none;
}
.box-intro .section-3.is-active {
  pointer-events: all;
}
.box-intro .intro-swiper {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  /* Swiper Pagination Bullet */
  /* 활성화된 Bullet */
  /* Pagination 컨테이너 */
  /* Pagination Bullet의 크기를 더 크게 하고 싶을 때 */
}
.box-intro .intro-swiper:hover {
  cursor: grab;
}
.box-intro .intro-swiper .swiper-wrapper {
  height: 100%;
}
.box-intro .intro-swiper .swiper-wrapper .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-intro .intro-swiper .swiper-pagination.b-type .swiper-pagination-bullet-active {
  background-color: #333;
}
.box-intro .intro-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background-color: #d7dce1;
  opacity: 1;
  border-radius: 200px;
  margin: 0 4px;
  transition: 0.4s background-color, 0.2s width;
  will-change: background-color, width;
}
.box-intro .intro-swiper .swiper-pagination-bullet-active {
  background-color: #e83c25; /* 활성화된 상태의 색상 */
  width: 20px !important;
}
.box-intro .intro-swiper .swiper-pagination {
  bottom: 84px; /* 아래쪽에서의 위치 */
}
.box-intro .intro-swiper .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
}

.box-membership {
  position: absolute;
  top: 100%;
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  padding: 82px 30px;
  background: var(--Secondary-4, #2d4396);
  transition: 0.7s top, 0.3s opacity;
  will-change: top, opacity;
  pointer-events: none;
}
.box-membership.b-type {
  background-color: #fff;
}
.box-membership.b-type .box-bottom {
  border-radius: 18px 18px 0px 0px;
  border-bottom: 1px solid var(--Stroke-light, #e5e5e5);
  background: var(--Primary-2, #f4f4f6);
  /* Float Shadow */
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.12);
}
.box-membership.is-active {
  pointer-events: all;
  top: 0;
  opacity: 1;
}
.box-membership.is-active .box-bottom {
  opacity: 1;
  transform: translateY(0);
}
.box-membership .lottie {
  position: absolute;
  right: -23px;
  bottom: 217px;
  width: 240px;
}
.box-membership .box-bottom {
  bottom: 0%;
  left: 0;
  right: 0;
  top: auto;
  opacity: 0;
  position: absolute;
  transform: translateY(100%);
  transition: 1s opacity, 0.4s transform;
  will-change: opacity, transform;
  transition-delay: 0.2s, 0.5s;
  border-radius: 18px 18px 0px 0px;
  border-bottom: 1px solid var(--BORDERS-LIGHT, #f0f2f5);
  background: var(--Primary-5, #fff);
  text-align: center;
  padding: 36px 24px 20px 24px;
}
.box-membership .box-bottom img {
  width: 100%;
}

.box-qr {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/mo/con_3_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.box-qr .cover {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translateY(calc(-50% + 92px));
}
.box-qr .cover img {
  border: 4px solid #fff;
  border-radius: 20px;
}/*# sourceMappingURL=style_mo.css.map */