@charset "UTF-8";
/* 1024 이상 PC */
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@media all and (min-width: 1024px) {
  .hover-underline-animation .hover-item {
    display: inline;
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(to right, black 50%, transparent 50%);
    /* 왼쪽에서 검은색, 오른쪽으로 투명 */
    background-size: 210% 1px;
    /* 너비를 200%로 설정해 왼쪽에서 시작할 수 있도록 함 */
    background-position: 100% 100%;
    /* 초기 위치를 오른쪽 끝으로 설정하여 밑줄이 보이지 않게 함 */
    background-repeat: repeat-x;
    transition: background-position 0.3s ease-in-out;
  }
  .hover-underline-animation .hover-item.white-type {
    background-image: linear-gradient(to right, #fff 50%, transparent 50%);
  }
  .hover-underline-animation:hover .hover-item {
    background-position: 0 100%;
    /* 호버 시 왼쪽 끝에서 시작하도록 설정 */
  }
  .hover-underline-animation .flex-hover {
    display: flex;
  }
}
@font-face {
  font-family: "Welstory Gothic";
  src: url("../font/Welstorygothic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Welstory Gothic";
  src: url("../font/Welstorygothic-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Welstory Gothic";
  src: url("../font/Welstorygothic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gibson";
  font-weight: 200;
  font-display: swap;
  src: local("GibsonLight"), url("../font/GibsonLight.otf") format("opentype");
}
@font-face {
  font-family: "Gibson";
  font-weight: 300;
  font-display: swap;
  src: local("GibsonSemiBd"), url("../font/GibsonSemiBd.otf") format("opentype");
}
@font-face {
  font-family: "Gibson";
  font-weight: 400;
  font-display: swap;
  src: local("GibsonBold"), url("../font/GibsonBold.otf") format("opentype");
}
/* basic-reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.c-scrollbar {
  z-index: 1000;
}

html,
body {
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라 구버전 */
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Nanum Myeongjo", "Roboto", Arial, Dotum, serif, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-text-size-adjust: none;
  font-weight: 500;
  line-height: 130%;
  font-size: 14px;
  word-break: keep-all;
  word-wrap: break-word;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

fieldset,
img {
  border: 0 none;
  vertical-align: middle;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

em {
  font-style: normal;
}

b,
strong {
  font-weight: 700;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
  font-size: 100%;
}

input,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border-radius: 0;
  font-size: 100%;
  outline: none;
}

button {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
}

button[disabled],
input[disabled] {
  cursor: default;
}

caption {
  display: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.img-holder span,
.img-holder a {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}
.img-holder span::after,
.img-holder a::after {
  content: "";
  display: block;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.img-holder span img,
.img-holder a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-holder.no-dim span::after,
.img-holder.no-dim a::after {
  display: none;
}
.img-holder.img-holder-scroll img {
  will-change: auto;
  width: 130%;
  height: 130%;
}/*# sourceMappingURL=style.css.map */