@charset "UTF-8";
/* 1024 이상 PC */
@import url("https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@media all and (min-width: 1024px) {
  .hover-underline-animation .hover-item {
    display: inline;
    position: relative;
    text-decoration: none;
    background-image: linear-gradient(to right, black 50%, transparent 50%);
    /* 왼쪽에서 검은색, 오른쪽으로 투명 */
    background-size: 210% 1px;
    /* 너비를 200%로 설정해 왼쪽에서 시작할 수 있도록 함 */
    background-position: 100% 100%;
    /* 초기 위치를 오른쪽 끝으로 설정하여 밑줄이 보이지 않게 함 */
    background-repeat: repeat-x;
    transition: background-position 0.3s ease-in-out;
  }
  .hover-underline-animation .hover-item.white-type {
    background-image: linear-gradient(to right, #fff 50%, transparent 50%);
  }
  .hover-underline-animation:hover .hover-item {
    background-position: 0 100%;
    /* 호버 시 왼쪽 끝에서 시작하도록 설정 */
  }
  .hover-underline-animation .flex-hover {
    display: flex;
  }
}
@font-face {
  font-family: "Welstory Gothic";
  src: url("../font/Welstorygothic-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Welstory Gothic";
  src: url("../font/Welstorygothic-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Welstory Gothic";
  src: url("../font/Welstorygothic-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gibson";
  font-weight: 200;
  font-display: swap;
  src: local("GibsonLight"), url("../font/GibsonLight.otf") format("opentype");
}
@font-face {
  font-family: "Gibson";
  font-weight: 300;
  font-display: swap;
  src: local("GibsonSemiBd"), url("../font/GibsonSemiBd.otf") format("opentype");
}
@font-face {
  font-family: "Gibson";
  font-weight: 400;
  font-display: swap;
  src: local("GibsonBold"), url("../font/GibsonBold.otf") format("opentype");
}
/* basic-reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

.c-scrollbar {
  z-index: 1000;
}

html,
body {
  -webkit-text-size-adjust: none; /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none; /* IE */
  -moz-text-size-adjust: none; /* 파이어폭스 */
  -o-text-size-adjust: none; /* 오페라 구버전 */
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Nanum Myeongjo", "Roboto", Arial, Dotum, serif, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  -webkit-text-size-adjust: none;
  font-weight: 500;
  line-height: 130%;
  font-size: 14px;
  word-break: keep-all;
  word-wrap: break-word;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
textarea,
p,
blockquote,
th,
td,
input,
select,
textarea,
button,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

summary {
  display: list-item;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

fieldset,
img {
  border: 0 none;
  vertical-align: middle;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

em {
  font-style: normal;
}

b,
strong {
  font-weight: 700;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  overflow: auto;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  resize: vertical;
  font-size: 100%;
}

input,
select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: inherit;
  border-radius: 0;
  font-size: 100%;
  outline: none;
}

button {
  font-family: inherit;
  font-size: 100%;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-weight: inherit;
}

button[disabled],
input[disabled] {
  cursor: default;
}

caption {
  display: none;
}

address,
caption,
cite,
code,
dfn,
em,
var {
  font-style: normal;
}

a {
  color: inherit;
  text-decoration: none;
}

.img-holder span,
.img-holder a {
  padding-top: 100%;
  position: relative;
  overflow: hidden;
  display: block;
}
.img-holder span::after,
.img-holder a::after {
  content: "";
  display: block;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.img-holder span img,
.img-holder a img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.img-holder.no-dim span::after,
.img-holder.no-dim a::after {
  display: none;
}
.img-holder.img-holder-scroll img {
  will-change: auto;
  width: 130%;
  height: 130%;
}

.wrap {
  overflow: hidden !important;
}

.box-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 100%);
  height: 114px;
  transition: 0.4s top;
  will-change: top;
}
.box-header .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 97px;
  transition: 0.4s opacity, 0.7s background;
  will-change: opacity, background;
}
.box-header .inner h1,
.box-header .inner .btn {
  transform: translateY(39px);
}
.box-header .inner.no-scroll {
  opacity: 1;
}
.box-header .inner.scroll {
  opacity: 0;
}
.box-header.is-scroll {
  background: var(--Material-bg, rgba(255, 255, 255, 0.9));
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}
.box-header.is-scroll .inner.no-scroll {
  opacity: 0;
}
.box-header.is-scroll .inner.scroll {
  opacity: 1;
}
.box-header.is-up {
  top: 0;
}
.box-header.is-down {
  top: -114px;
}

.box-footer {
  background: var(--BG-light-1, #fafafa);
}
.box-footer .inner {
  padding: 140px 96px 200px;
}
.box-footer .inner .top,
.box-footer .inner .bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-footer .inner .top img,
.box-footer .inner .bottom img {
  height: -moz-fit-content;
  height: fit-content;
}
.box-footer .inner .top {
  border-bottom: 2px solid var(--Secondary-9, #283255);
  padding: 0 33px 15px 0;
}
.box-footer .inner .bottom {
  align-items: flex-start;
  padding: 40px 142px 0 0;
}

.box-kv {
  overflow: hidden;
}
.box-kv .cover-bg {
  background-color: #000;
  position: relative;
  height: 100vh;
}
.box-kv .cover-bg .inner {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.box-kv .cover-bg .inner.is-active .bg {
  opacity: 1;
}
.box-kv .cover-bg .inner .bg {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 1s opacity;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-kv .cover-bg .icon {
  position: absolute;
  bottom: 84px;
  left: 50%;
  transform: translateX(-50%);
}
.box-kv .cover-bg .box-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 42px;
}

.box-section-con {
  padding: 210px 0 0;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  will-change: background;
}
.box-section-con .box-page {
  display: flex;
  position: absolute;
  top: 160px;
  right: 96px;
  gap: 8px;
  z-index: 500;
}
.box-section-con .box-page a {
  width: 11px;
  height: 11px;
  background-color: #aaa;
  border-radius: 999px;
  will-change: width;
  transition: 0.4s width;
  pointer-events: none;
}
.box-section-con .box-page a.is-active {
  width: 22px;
  background-color: #83bd3b;
}
.box-section-con .section.sec-2 {
  padding: 283px 0 296px;
}
.box-section-con .section.sec-3 {
  padding: 0 96px 240px;
}
.box-section-con .section.sec-3 .inner {
  padding: 0 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-section-con .section.sec-3 .inner .mobile {
  background-image: url("../images/mobile.png");
  width: 354px;
  height: 756px;
  position: relative;
  padding: 11px 0 0 12px;
}
.box-section-con .section.sec-3 .inner .mobile .sc {
  border-radius: 48px;
  overflow: hidden;
  height: 733px;
  width: 331px;
}
.box-section-con .section.sec-3 .inner .mobile .sc .bottom {
  position: absolute;
  bottom: 12px;
  left: 12px;
  right: 12px;
  width: 330px;
  border-radius: 0 0 48px 48px;
}
.box-section-con .section.sec-4 {
  position: relative;
  padding: 192px 0 0 0;
}
.box-section-con .section.sec-4 .orb {
  position: absolute;
  bottom: 0;
  right: 0;
}
.box-section-con .section.sec-5 {
  padding: 292px 96px 3px;
  background-color: #fff;
}
.box-section-con .section .box-text {
  padding: 0 96px;
  margin-bottom: 76px;
}
.box-section-con .section .box-text .text-1 {
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: -0.6px;
}
.box-section-con .section .box-text .text-2 {
  padding-top: 27px;
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -1.2px;
}
.box-section-con .section .box-text-2 {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.box-section-con .section .box-text-2 .tt-1 {
  color: var(--Primary-5, #fff);
  text-align: center;
  font-family: "Spoqa Han Sans Neo";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: -0.6px;
}
.box-section-con .section .box-text-2 .tt-2 {
  color: var(--Primary-5, #fff);
  text-align: center;
  font-family: "Spoqa Han Sans Neo";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -1.2px;
}
.box-section-con .section .box-text-3 {
  display: flex;
  justify-content: space-between;
}
.box-section-con .section .box-text-3 .left .tt-1 {
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 20px */
  letter-spacing: -0.6px;
}
.box-section-con .section .box-text-3 .left .tt-2 {
  padding-top: 28px;
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -1.2px;
}
.box-section-con .section .box-text-3 .right {
  padding-right: 125px;
  width: 977px;
  transform: translateY(26px);
}
.box-section-con .section .box-text-3 .right .top .tt-1 {
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 92px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 92px */
}
.box-section-con .section .box-text-3 .right .top .tt-2 {
  padding-top: 32px;
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 32px */
  letter-spacing: -0.96px;
}
.box-section-con .section .box-text-3 .right .bottom {
  padding-top: 99px;
}
.box-section-con .section .box-text-3 .right .bottom li {
  display: flex;
  width: 1000px;
  margin: 0 0 73px;
}
.box-section-con .section .box-text-3 .right .bottom li div {
  padding: 34px 0 0 0;
  width: 351px;
  border-top: 2px solid #a6aab8;
  margin-right: 149px;
}
.box-section-con .section .box-text-3 .right .bottom li div .t-1 {
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 54px */
}
.box-section-con .section .box-text-3 .right .bottom li div .t-2 {
  padding-top: 18px;
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 33.6px */
  letter-spacing: -0.72px;
  text-transform: uppercase;
}
.box-section-con .section .box-motion {
  position: relative;
  background-color: #fff;
  height: 934px;
}
.box-section-con .section .box-motion .section-motion {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 934px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  will-change: opacity;
  transition: 0.4s opacity;
}
.box-section-con .section .box-motion .section-motion.is-active {
  opacity: 1;
  pointer-events: all;
}
.box-section-con .section .box-motion .section-motion.is-active .box-tt .tt-1,
.box-section-con .section .box-motion .section-motion.is-active .box-tt .tt-2 {
  opacity: 1;
  transform: translateY(0);
}
.box-section-con .section .box-motion .section-motion .box-tt {
  padding: 0 96px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  transform: translateY(-13px);
}
.box-section-con .section .box-motion .section-motion .box-tt .tt-1,
.box-section-con .section .box-motion .section-motion .box-tt .tt-2 {
  opacity: 0;
  transition: 0.4s opacity, 0.4s transform;
}
.box-section-con .section .box-motion .section-motion .box-tt .tt-1 {
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 108px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 108px */
  transform: translateY(20px);
}
.box-section-con .section .box-motion .section-motion .box-tt .tt-2 {
  padding-top: 69px;
  color: var(--Secondary-9, #283255);
  font-family: "Spoqa Han Sans Neo";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 40px */
  letter-spacing: -1.2px;
  transition-delay: 1s;
  transform: translateY(10px);
}
.box-service {
  padding: 71px 96px 142px 96px;
}
.box-service .inner .lottie.logo {
  text-align: center;
}

.box-ex .inner {
  max-width: 1228px;
  margin: 200px auto 0 auto;
}
.box-ex .inner .top-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 28px;
}
.box-ex .inner .top-tab a {
  flex: 1;
  border-radius: 999px;
  background: var(--BG-Gray_Blue, #eff1f3);
  padding: 20px 0;
  color: var(--Secondary-9, #283255);
  text-align: center;
  font-family: "Spoqa Han Sans Neo";
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 26px */
  letter-spacing: -0.78px;
}
.box-ex .inner .top-tab a.is-active {
  background: linear-gradient(180deg, rgba(127, 127, 127, 0) 50%, rgba(127, 127, 127, 0.2) 100%), #283255;
  background-blend-mode: luminosity, normal;
  color: #fff;
}
.box-ex .inner .box-video {
  text-align: center;
}

.box-banner-roller {
  overflow: hidden;
  white-space: nowrap;
  padding: 249px 0 240px 0;
  margin-top: -3px;
  z-index: 10;
  background-color: #fff;
  position: relative;
}
.box-banner-roller .text-1 {
  padding: 0 96px 84px;
}
.box-banner-roller .inner {
  display: flex;
  align-items: center;
  gap: 96px;
}

.box-banner-bottom .inner {
  padding: 83px 96px 80px 96px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--BG-Gray_Blue, #eff1f3);
}

.box-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.box-list img {
  width: auto;
  max-width: 100%;
  margin: 0 auto;
  transform: translateY(100px);
  opacity: 0;
}/*# sourceMappingURL=style.css.map */